@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
    font-weight: 200;
}

.logo {
    font-size: 180%;
    margin-left: 40px;
    float: left;
    margin-top: 10px;
    color:red;
}

#main-menu{
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-size: 100%;
    font-weight: 300;
    color: red;
}
#main-menu li {
    float: right;
    margin-right: 40px;
}

#main-menu, #logo {
    line-height: 40px;
}

#main-menu a:hover {
    border-radius: 1px solid #ff0000;
}

.active {
    border-radius: 1px solid #ff0000;
}

#image-ext {
    height: 550px;
    width: 100%;
    overflow: hidden;
}

#main-image {
    height: 550px;
    width: 100%;
    background: url('../css/images/hermes-rivera-qbf59TU077Q-unsplash.jpg') no-repeat center center;
}